Flask>=0.12
twilio>=6.0.0
gunicorn>=19.6.0
gspread
oauth2client>=4.1.0
redis>=2.10.5
rq>=0.5.6
sendgrid
flask_sqlalchemy
psycopg2
flask_wtf
google_auth
google-api-python-client
python-dotenv
requests
authlib
six
flask-mail
resend
